@model EdgeBiUI.Models.TrackersListModel
@using Easynet.Edge.UI.Data;
           
@{
    ViewBag.Title = "Trackers";
}

<script type="text/javascript">

    function openTrackerDetails(identifier) {
        ShowLoadingMessage();
        $.get('@(Url.Action("EditTracker", "Trackers"))', { identifier: identifier }, function (data) {
            HideLoadingMessage();
            $('#ControllerDialogDiv').html(data);
            openController(600, 400);
        });
    }

    function openBatchTrackers() {
        ShowLoadingMessage();
        $.get('@(Url.Action("BatchUpdate", "Trackers"))', function (data) {
            HideLoadingMessage();
            $('#ControllerDialogDiv').html(data);
            openController(600, 400);
        });
    }

    function findTrackers() {
        ShowLoadingMessage();
        $.post($('#PageEditorForm').attr("action"), $('#PageEditorForm').serialize(), function (data) {
            $("#IndexDynamicTableContainer").html(data);
            HideLoadingMessage();
            $(".IndexTableRowNoResult").css("display", "block");
        });
    }



</script>
    <div style="float:right;">
        <a href="" onclick="openBatchTrackers(); return false;">Batch Update</a>
    </div>
<div class="IndexTopNav" style="clear:both;">

@using (Html.BeginForm("FindTrackers", "Trackers", FormMethod.Post, new { id = "PageEditorForm", defaultbutton = "FilterButton" }))
{
    <div class="FilterSegment">
        <div class="FilterSegmentTitle">
            Channel
        </div>
        <select name="Channel">
            <option value="0">All Channels</option>
            @foreach (KeyValuePair<int, string> channel in Model.Channels.ToList().OrderBy(s=>s.Value))
            {
                <option value="@channel.Key">@channel.Value</option>
            }
        </select>
    </div>

    foreach (EdgeBiUI.Models.SegmentRowModel segment in Model.Segments)
    {
    <div class="FilterSegment">
        <div class="FilterSegmentTitle">
            @segment.SegmentRow.Name
        </div>
        <select name="Segment@(segment.SegmentRow.SegmentID)" style="max-width:110px;">
            <option value="0">(Any)</option>
            <option value="-1">None</option>
            @foreach (Oltp.SegmentValueRow Value in segment.Values)
            {
                <option value="@Value.ValueID">@Value.Value</option>
            }
        </select>
    </div>
    }
    
    <div class="FilterSegment">
        <div class="FilterSegmentTitle">
            Tracker ID
        </div>
        <input type="text" name="Identifier" style="width:100px;" />
    </div>
    
    <input type="button" value="Filter" id="FilterButton" onclick="findTrackers()" style="margin-top:18px;" />
}
</div>

<div id="IndexDynamicTableContainer">
@Html.Partial("Table", Model.Trackers)
</div>