@model EdgeBiUI.Models.TrackerModel
@using Easynet.Edge.UI.Data;

<script type="text/javascript">
    $(function () {
        OpenTabsJS();
    });

    function SaveTracker() {
        $.post($('#TrackersEditForm').attr("action"), $('#TrackersEditForm').serialize(), function (data) {
        });
    }
</script>

<div id="container">

    <div class="containerTitle">
       Editing Tracker
    </div>
    @using (Html.BeginForm("EditTracker", "Trackers", new { identifier = Model.Tracker.Identifier }, FormMethod.Post, new { id = "TrackersEditForm" }))
    {
    <div id="Tabs">        
        <ul class="menu">			
			<li class="active" id="Details">Details</li>
            <li class="ControllerTabsLi" id="Segments">Segments</li>
		</ul>
    </div>

    <div id="TabsContent">
        <div class="Details content">
            <div class="segmentRow">
                <div class="segmentRowName">Name</div>
                <div class="segmentRowValue"><input type="text"  name="TrackerName" value="@(Model.Tracker.IsNameNull() ? "" : Model.Tracker.Name)" style="width:150px;" /></div>
            </div>
            <div class="segmentRow">
                <div class="segmentRowName">Identifier</div>
                <div class="segmentRowValue"><input type="text" name="Identifier" disabled="disabled" value="@Model.Tracker.Identifier" style="width:150px;" /></div>
            </div>
            <div class="segmentRow">
                <div class="segmentRowName">Channel</div>
                <div class="segmentRowValue">
                    <select name="Channel">
                        @foreach (KeyValuePair<int, string> channel in Model.Channels)
                        {
                            <option value="@channel.Key" @(channel.Key==Model.Tracker.ChannelID?"selected='selected'":"")>@channel.Value</option>
                        }
                    </select>
                </div>
            </div>
            <div class="segmentRow">
                <div class="segmentRowName">Destination URL</div>
                <div class="segmentRowValue"><input type="text" name="DestinationURL" value="@(Model.Tracker.IsDestinationURLNull() ? "" : Model.Tracker.DestinationURL)" style="width:300px;" /></div>
            </div>
            <div class="segmentRow">
                <div class="segmentRowName">Landing Page</div>
                <div class="segmentRowValue">
                    <select name="LandingPage" onchange="handleNewValue(this)" segmentID="999" originalValue="@(Model.Tracker.PageGK)">
                        @foreach (KeyValuePair<long, string> landingPage in Model.LandingPages)
                        {
                            <option value="@landingPage.Key" @(landingPage.Key == Model.Tracker.PageGK ? "selected='selected'" : "")>@landingPage.Value</option>
                        }
                        <option value="-1000">Add New...</option>
                    </select>
                </div>
            </div>

            <div class="segmentRow">
                <div class="segmentRowName">Applied to</div>
                <div class="segmentRowValue appliedTo">@Html.Raw(Model.AppliedTo)</div>
            </div>
        </div>

        <div class="Segments content">
        @foreach (EdgeBiUI.Models.SegmentRowModel seg in Model.Segments)
        {
            <div class="segmentRow">
                <div class="segmentRowName">@seg.SegmentRow.Name</div>
                <div class="segmentRowValue">
                    <select name="trackerSegmentValue_@(seg.SegmentRow.SegmentID)" onchange="handleNewValue(this)" segmentID="@(seg.SegmentRow.SegmentID)" originalValue="@(seg.SelectedValue)">
                        <option value="-1">(none)</option>
                    @foreach (Oltp.SegmentValueRow value in seg.Values)
                    {
                        <option value="@(value.ValueID)" @(seg.SelectedValue == value.ValueID ? "selected=\"selected\"" : "")>@(value.Value)</option>
                    }
                        <option value="-1000">Add New...</option>
                    </select>
                </div>
            </div>
        }
        </div>

        

        
        
    </div>


    <div id="Buttons">
        <input type="button" value="Apply" onclick="SaveTracker();" />
        <input type="button" value="Cancel" onclick="closeControllerDialog();" />        
        <input type="button" value="OK" onclick="SaveTracker(); closeControllerDialog();" />
    </div>
        
    }
</div>