@model EdgeBiUI.Models.CreativeModel
@using Easynet.Edge.UI.Data;

<script type="text/javascript">
    $(function () {
        OpenTabsJS();
    });

    function SaveCreative(closeAfter) {
        $.post($('#PageEditorForm').attr("action"), $('#PageEditorForm').serialize(), function (data) {
            if (data == "OK") {
                if (closeAfter)
                    closeControllerDialog();
            } else {
                $('#ControllerDialogDiv').html(data);
            }
              }).error(window.parent.handleError);
    }
</script>

<div id="container">

    <div class="containerTitle">
        @Model.Creative.Title
    </div>
    @using (Html.BeginForm("EditCreative", "Creatives", new { creativeGK = Model.Creative.GK }, FormMethod.Post, new { id = "PageEditorForm" }))
    {
    <div id="Tabs">        
        <ul class="menu">
			<li class="active" id="Segments">Segments</li>
			<li class="ControllerTabsLi" id="Details">Details</li>
            <li class="ControllerTabsLi" id="Associations">Associations</li>
		</ul>
    </div>

    <div id="TabsContent">
        
        <div class="Segments content">
        @foreach (EdgeBiUI.Models.SegmentRowModel seg in Model.Segments)
        {
            <div class="segmentRow">
                <div class="segmentRowName">@seg.SegmentRow.Name</div>
                <div class="segmentRowValue">
                    <select name="creativeSegmentValue_@(seg.SegmentRow.SegmentID)" onchange="handleNewValue(this)" segmentID="@(seg.SegmentRow.SegmentID)" originalValue="@(seg.SelectedValue)">
                        <option value="-1">(none)</option>
						<option value="-1000">Add New...</option>
                    @foreach (Oltp.SegmentValueRow value in seg.Values)
                    {
                        <option value="@(value.ValueID)" @(seg.SelectedValue == value.ValueID ? "selected=\"selected\"" : "")>@(value.Value)</option>
                    }
                    </select>

                </div>
            </div>
        }
        </div>

        <div class="Details content">
            <div class="segmentRow">
                <div class="segmentRowName">Title</div>
                <div class="segmentRowValue"><div style="width:300px; padding:3px; color:Gray; border:1px solid silver; background-color:#E3E3E3;">@Model.Creative.Title</div></div>
            </div>
            <div class="segmentRow">
                <div class="segmentRowName">Description 1</div>
                <div class="segmentRowValue"><div style="width:300px; padding:3px; color:Gray; border:1px solid silver; background-color:#E3E3E3;">@Model.Creative.Desc1 &nbsp;</div></div>
            </div>
            <div class="segmentRow">
                <div class="segmentRowName">Description 2</div>
                <div class="segmentRowValue"><div style="width:300px; padding:3px; color:Gray; border:1px solid silver; background-color:#E3E3E3;">@Model.Creative.Desc2 &nbsp;</div></div>
            </div>
        </div>

        <div class="Associations content">
        
            <div style="margin-bottom:10px;">Campaigns/Adgroups:</div>

            @foreach (EdgeBiUI.Models.AssociationRowModel association in Model.Associations)
            {
                <div class="associationRow">
                    <span>@(association.Campaign.Name)</span>
                    >
                    <span>@(association.AdGroup.Name)</span>
                </div>
            }        
        </div>
        
    </div>


    <div id="Buttons">
        <input type="button" value="Apply" onclick="SaveCreative(false);" />
        <input type="button" value="Cancel" onclick="closeControllerDialog();" />        
        <input type="button" value="OK" onclick="SaveCreative(true);" />
    </div>
        
    }
</div>