@model EdgeBiUI.Models.MutliCreativeModel
@using Easynet.Edge.UI.Data;

<script type="text/javascript">
    $(function () {
        OpenTabsJS();
    });

    function editSegmentValue(segID) {
        var d = $("#creativeSegmentValue_" + segID).attr("disabled");
        if (d == true)
            $("#creativeSegmentValue_" + segID).attr("disabled", "");
        else
            $("#creativeSegmentValue_" + segID).attr("disabled", "disabled");
    }

    function SaveCreatives(closeAfter) {
        $.post($('#PageEditorForm').attr("action"), $('#PageEditorForm').serialize(), function (data) {
            if (closeAfter)
                closeControllerDialog();
        }).error(function () { window.parent.handleError({ message: "error saving data" }); });
    }
</script>

<div id="container">

    <div class="containerTitle">
        (Multiple Creatives)
    </div>
    @using (Html.BeginForm("EditMultipleCreatives", "Creatives", new { creativesGK = Model.CreativesGK }, FormMethod.Post, new { id = "PageEditorForm" }))
    {
    <div id="Tabs">        
        <ul class="menu">
			<li class="active" id="Segments">Segments</li>
		</ul>
    </div>

    <div id="TabsContent">
        
        <div class="Segments content">
        @foreach (EdgeBiUI.Models.SegmentRowModel seg in Model.Segments)
        {
            <div class="segmentRow">
                <div class="segmentRowName">@seg.SegmentRow.Name</div>
                <div class="segmentRowValue">
                    <select id="creativeSegmentValue_@(seg.SegmentRow.SegmentID)" name="creativeSegmentValue_@(seg.SegmentRow.SegmentID)" disabled="disabled" onchange="handleNewValue(this)" segmentID="@(seg.SegmentRow.SegmentID)" originalValue="@(seg.SelectedValue)">
                        <option value="-100" @(seg.SelectedValue == -100 ? "selected=\"selected\"" : "")></option>
                        <option value="-1">(none)</option>
                    @foreach (Oltp.SegmentValueRow value in seg.Values)
                    {
                        <option value="@(value.ValueID)" @(seg.SelectedValue == value.ValueID ? "selected=\"selected\"" : "")>@(value.Value)</option>
                    }
                        <option value="-1000">Add New...</option>
                    </select>
                    <input type="checkbox" name="creativeSegmentValueEdit_@(seg.SegmentRow.SegmentID)" value="1" onclick="editSegmentValue(@(seg.SegmentRow.SegmentID));" />
                </div>
            </div>
        }
        </div>

        
    </div>


    <div id="Buttons">
        <input type="button" value="Apply" onclick="SaveCreatives(false);" />
        <input type="button" value="Cancel" onclick="closeControllerDialog();" />        
        <input type="button" value="OK" onclick="SaveCreatives(true);" />
    </div>
        
    }
</div>