@model EdgeBiUI.Models.CampaignModel
@using Easynet.Edge.UI.Data;

<script type="text/javascript">
    $(function () {
        OpenTabsJS();
    });

    function SaveCampaign(closeAfter) {
        if ($("#container .errorValue").length > 0) {
            window.parent.handleError({ message: "wrong target value" });
            //alert("wrong target value");
            return;
        }

        $.post($('#CampaignEditForm').attr("action"), $('#CampaignEditForm').serialize(), function (data) {
            var cpa1 = $("#TabsContent input[name=Target1]").val();
            var cpa2 = $("#TabsContent input[name=Target2]").val();
            $("input[name=campaigntarget_@(Model.Campaign.GK)_CPA1]").val(cpa1);
            $("input[name=campaigntarget_@(Model.Campaign.GK)_CPA2]").val(cpa2);
            if (data == "OK") {
                if (closeAfter)
                    closeControllerDialog();
            } else {
                $('#ControllerDialogDiv').html(data);
            } 
        }).error(function () { window.parent.handleError({ message: "error saving data" }); });
    }
</script>

<div id="container">

    <div class="containerTitle">
       @Model.Campaign.Name
    </div>
    @using (Html.BeginForm("EditCampaign", "Campaigns", new { campaignGK = Model.Campaign.GK }, FormMethod.Post, new { id = "CampaignEditForm" }))
    {
    <div id="Tabs">        
        <ul class="menu">						
            <li class="active" id="Segments">Segments</li>
            <li class="ControllerTabsLi" id="Targets">Targets</li>
		</ul>
    </div>

    <div id="TabsContent">
        <div class="Segments content">
        @foreach (EdgeBiUI.Models.SegmentRowModel seg in Model.Segments)
        {
            <div class="segmentRow">
                <div class="segmentRowName">@seg.SegmentRow.Name</div>
                <div class="segmentRowValue">
                    <select name="campaignSegmentValue_@(seg.SegmentRow.SegmentID)" onchange="handleNewValue(this)" segmentID="@(seg.SegmentRow.SegmentID)" originalValue="@(seg.SelectedValue)">
                        <option value="-1">(none)</option>
                    @foreach (Oltp.SegmentValueRow value in seg.Values)
                    {
                        <option value="@(value.ValueID)" @(seg.SelectedValue == value.ValueID ? "selected=\"selected\"" : "")>@(value.Value)</option>
                    }
                        <option value="-1000">Add New...</option>
                    </select>
                </div>
            </div>
        }
        </div>        
        
        <div class="Targets content">
            <div class="segmentRow">
                <div class="segmentRowName">CPA (Customers)</div>
                <div class="segmentRowValue">
                    <input type="text" onkeyup="checkvalue(this)" name="Target1" value="@Model.Target_Customer" />
                </div>
            </div>
            <div class="segmentRow">
                <div class="segmentRowName">CPA (Depositors)</div>
                <div class="segmentRowValue">
                    <input type="text" onkeyup="checkvalue(this)" name="Target2" value="@Model.Target_Depositor" />
                </div>
            </div>
            
        </div>
    </div>


    <div id="Buttons">
        <input type="button" value="Apply" onclick="SaveCampaign(false);" />
        <input type="button" value="Cancel" onclick="closeControllerDialog();" />        
        <input type="button" value="OK" onclick="SaveCampaign(true);" />
    </div>
        
    }
</div>